{{ blocks }}

    {{ if type == "masthead" }}

        {{ partial:partials/blocks/masthead
            :masthead_background_image="masthead_background_image"
            :rossette="masthead_rossette"
            :heading="masthead_heading"
            :sub_heading="masthead_sub_heading"
            :masthead_cv_button="masthead_cv_button"
            :masthead_spare_button="masthead_spare_button"
        }}

    {{ elseif type == "breadcrumbs" }}

        {{ partial:partials/blocks/breadcrumbs
            :show_breadcrumbs="breadcrumbs_show_breadcrumbs"
            :breadcrumb_separator="breadcrumbs_breadcrumb_separator"
            :home_text="breadcrumbs_home_text"
        }}

    {{ elseif type == "newsletter" }}

        {{ partial:partials/blocks/newsletter
            :newsletter_heading="newsletter_heading"
            :newsletter_description="newsletter_description"
            :newsletter_benefits="newsletter_benefits"
            :newsletter_button_text="newsletter_button_text"
            :newsletter_privacy_text="newsletter_privacy_text"
        }}

    {{ /if }}

{{ /blocks }}
