{{ blocks }}

    {{ if type == "masthead" }}

        {{ partial:partials/blocks/masthead
            background_image="{ masthead_background_image }"
            rossette="{ masthead_rossette }"
            heading="{ masthead_heading }"
            sub_heading="{ masthead_sub_heading }"
            cv_button
            spare_button
        }}

    {{ elseif type == "technology" }}

        {{ partial:partials/blocks/technology
            heading="{ technology_heading }"
        }}

    {{ /if }}

{{ /blocks }}
